<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Music</h1>
    This is <%= list %> </h2> music <img src="<%= list.img  %> ">





  </body>
</html>
