<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>

  <h1>Music</h1>



  <% for (let i = 0; i < music.lenth; i++ ) { %>

  <ul>
    The <a href="/music/<%=music[i].id%>">
          <%music[i]name; %></a> is
    <%music[i].genre; %>.
    It needs
    <%=music[i].volume; %> volume.
    <% if (music[i].goodWithBass === true) { %>
    Sounds Dope
    <% } else { %>
    Needs Bass
    <% } %>


    // forms actions from serve.js
    <form action="/music/<%=music[i].id%>?_method=DELETE" method="POST">
      <input type="submit" value="delete">
    </form>

      <a href="/music/<%music[i].id%>/edit"> Edit <%=music[i].name%></a>
  </ul>
  <% } %>

  <nav>
    <a href="/music/new"> Add another Artiest </a>
  </nav>


</body>

</html>
