<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>

  <h1>Music Show Page</h1>
  The
  <% music.name %> is
  <%= music.genre%>

  <% if(music.goodWithBass === true) {%>

  Sounds Dope

  <% } else { %>

  <h2>Needs Bass</h2>

  <% } %>

</body>

</html>
