<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <body>
      <h1>Pokemon List</h1>

       This is <%= list.name %> </h2> pokemon <img src="<%= list.img  %> ">


</body>

  </body>
</html>
